@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 800;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
  word-break: break-word;
  transition-duration: 150ms;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  z-index: 5;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  padding-left: 10px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  height: 20%;
  width: 100%;
  z-index: -1;
  background-color: #f0c52e;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-property: height, top, bottom;
}

.button:hover::before,
.button:focus::before {
  top: 0;
  bottom: 0;
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-top: 40px;
}

.inner-page .main-header {
  margin-bottom: 37px;
}

.main-navigation {
  padding: 33px 60px 50px;
  background-color: #f7e296;
}

.header-top {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.header-logo {
  position: absolute;
  top: -57px;
  left: -3px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.015em;
  font-weight: 800;
  text-transform: uppercase;
}

.header-logo[href]:hover,
.header-logo[href]:focus {
  opacity: 0.6;
}

.header-logo[href]:active {
  opacity: 0.3;
}

.header-search {
  display: flex;
  width: 540px;
  font-size: 0;
}

.header-search-input {
  width: 355px;
  padding: 14px 0;
  padding-left: 37px;
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  font-size: 15px;
  background-color: #f7e296;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 3px 55%;
  outline: none;
  transition-duration: 150ms;
}

.header-search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  transition-duration: 150ms;
}

.header-search-input:hover::placeholder,
.header-search-input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search-input:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.header-search-button {
  width: 85px;
  padding: 14px 0;
  border: 2px solid #000000;
  font-size: 15px;
  background-color: #f7e296;
  cursor: pointer;
  opacity: 0;
  transition-duration: 150ms;
}

.header-search-input:focus+.header-search-button {
  opacity: 1;
}

.header-search-button:hover,
.header-search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.header-search-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-user-navigation ul,
.header-customer-navigation ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-user-navigation {
  width: 280px;
}

.user-navigation-item:first-child a {
  display: block;
  padding-left: 26px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.user-exit {
  margin-left: 19px;
}

.user-exit a {
  opacity: 0.3;
}

.header-customer-navigation {
  width: 220px;
}

.customer-navigation-item:first-child a {
  display: block;
  padding-left: 20px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0px 55%;
}

.customer-navigation-item:first-child {
  margin-left: 7px;
}

.customer-navigation-item:last-child a {
  display: block;
  padding-left: 23px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

.customer-navigation-item:last-child {
  margin-left: 40px;
}

.header-user-navigation a:hover,
.header-user-navigation a:focus,
.header-customer-navigation a:hover,
.header-customer-navigation a:focus {
  opacity: 0.6;
}

.header-user-navigation a:active,
.header-customer-navigation a:active {
  opacity: 0.3;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  display: flex;
  Letter-spacing: 0.2em;
  text-transform: uppercase;
}

.site-navigation-item:nth-child(1) {
  position: relative;
  width: 52%;
  margin-left: -1px;
}

.site-navigation-item:nth-child(1)>a {
  position: relative;
  padding-right: 28px;
}

.site-navigation-item:nth-child(1)>a::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.site-navigation-item:nth-child(3) {
  margin-left: 34px;
  margin-right: auto;
}

.site-navigation-item:nth-child(4) {
  margin-right: -4px;
}

.site-navigation-item>a:hover,
.site-navigation-item>a:focus {
  color: rgba(0, 0, 0, 0.6)
}

.site-navigation-item>a:active {
  color: rgba(0, 0, 0, 0.3)
}

.catalog-list {
  position: absolute;
  left: -59px;
  top: 24px;
  z-index: 10;
  display: none;
  box-sizing: border-box;
  width: 1160px;
  margin: 0;
  padding: 21px 0 33px 60px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: #000000;
  text-transform: none;
  background-color: #f7e296;
  list-style: none;
}

.catalog-item-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item:nth-child(1) {
  margin-right: 39px;
}

.catalog-item-list a {
  padding: 5px 0 ;
}

.site-navigation-item:nth-child(1) a:hover+.catalog-list,
.site-navigation-item:nth-child(1) a:focus+.catalog-list {
  display: flex;
}

.catalog-list:hover,
.catalog-list:focus {
  display: flex;
}

.catalog-item-list a:hover,
.catalog-item-list a:focus {
  color: rgba(0, 0, 0, 0.6)
}

.catalog-item-list a:active {
  color: rgba(0, 0, 0, 0.3)
}

.slider {
  position: relative;
  margin-bottom: 82px;
}

.slider-controls {
  position: absolute;
  right: 102px;
  bottom: 171px;
  z-index: 100;
  width: 80px;
  height: 12px;
  text-align: center;
  font-size: 0;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  border: 1px solid #000000;
  vertical-align: baseline;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:last-child {
  margin-right: 0;
}

.slider-item {
  display: none;
  justify-content: space-between;
}

#slide-1:checked~.slider-list .slider-item:nth-child(1) {
  display: flex;
}

#slide-2:checked~.slider-list .slider-item:nth-child(2) {
  display: flex;
}

#slide-3:checked~.slider-list .slider-item:nth-child(3) {
  display: flex;
}

#slide-1:checked~.slider-controls .slider-controls-item-1::before,
#slide-2:checked~.slider-controls .slider-controls-item-2::before,
#slide-3:checked~.slider-controls .slider-controls-item-3::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border: 1px solid #000000;
  border-radius: 50%;
}

#slide-1:focus~.slider-controls .slider-controls-item-1,
#slide-2:focus~.slider-controls .slider-controls-item-2,
#slide-3:focus~.slider-controls .slider-controls-item-3 {
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.slider-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  background: linear-gradient(to bottom, #f7e296 113px, #ffffff 113px, #ffffff 100%);
}

.slider-item:nth-child(1) img {
  width: 384px;
  height: 486px;
  padding-left: 90px;
  padding-top: 2px;
}

.slider-item:nth-child(2) img {
  width: 345px;
  height: 485px;
  padding-left: 116px;
  padding-top: 14px;
}

.slider-item:nth-child(3) img {
  width: 526px;
  height: 334px;
  padding-left: 31px;
  padding-top: 67px;
}

.slide-description {
  position: relative;
  width: 560px;
  padding-top: 81px;
  padding-bottom: 30px;
}

.slide-description::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 0px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-item:nth-child(1) .slide-description::after {
  content: "01";
  position: absolute;
  top: -11px;
  right: 46px;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slider-item:nth-child(2) .slide-description::after {
  content: "02";
  position: absolute;
  top: -11px;
  right: 46px;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 0.015em;
  color: #ffffff;
}

.slider-item:nth-child(3) .slide-description::after {
  content: "03";
  position: absolute;
  top: -11px;
  right: 46px;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 0.018em;
  color: #ffffff;
}

.slide-description b {
  position: relative;
  display: block;
  margin-bottom: 19px;
  margin-left: -1px;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.015em;
  z-index: 1;
}

.slide-description p {
  margin: 0;
  margin-left: -1px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.slide-description p:last-of-type {
  margin-bottom: 43px;
  letter-spacing: 0.01em;
}

.slide-description a {
  width: 220px;
  margin-bottom: 48px;
}

.table-feature {
  margin-left: -3px;
}

.table-feature-mark td,
.table-feature-name td {
  width: 158px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-feature-mark td:nth-child(2),
.table-feature-name td:nth-child(2) {
  width: 137px;
}

.table-feature-name td:nth-child(1) {
  padding-left: 1px;
}

.table-feature-name td:nth-child(3) {
  padding-left: 2px;
}

.table-feature-mark td {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.table-feature-name td {
  padding-top: 5px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}

.popular {
  margin-bottom: 141px;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-item {
  margin-right: 40px;
  margin-bottom: 40px;
}

.popular-item:nth-child(6n) {
  margin-right: 0;
}

.popular-link {
  width: 160px;
}

.popular-item p,
.popular-item h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.popular-item:nth-child(1) h3 {
  letter-spacing: 0.02em;
}

.popular-item p {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: rgba(240, 197, 46, 0.5);
  transition-duration: 150ms;
}

.popular-item img {
  display: block;
}

.popular-item .popular-1 {
  padding-left: 31px;
  padding-top: 52px;
}

.popular-item .popular-2 {
  padding-left: 38px;
  padding-top: 41px;
}

.popular-item .popular-3 {
  padding-left: 49px;
  padding-top: 38px;
}

.popular-item .popular-4 {
  padding-left: 28px;
  padding-top: 50px;
}

.popular-item .popular-5 {
  padding-left: 55px;
  padding-top: 32px;
}

.popular-item .popular-6 {
  padding-left: 13px;
  padding-top: 49px;
}

.popular-link:hover p,
.popular-link:focus p {
  background-color: rgba(240, 197, 46, 1);
}

.popular-link:active img {
  opacity: 0.3;
}

.popular-link:active h3 {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  margin-bottom: 94px;
  padding-bottom: 115px;
  background-color: #e5e5e5;
}

.services .container {
  display: flex;
}

.service-controls {
  position: relative;
  width: 284px;
  margin-right: 116px;
  margin-top: -20px;
}

.service-controls::after {
  content: "";
  position: absolute;
  top: -80px;
  right: 0px;
  width: 7px;
  height: calc(100% + 126px);
  background-color: #000000;
}

.service-controls-item {
  width: 160px;
  margin-bottom: 24px;
}

.service-controls-item:nth-child(2) {
  margin-bottom: 25px;
}

.service-item {
  display: none;
  padding-right: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#service-1:checked~.service-list .service-item:nth-child(1) {
  display: block;
}

#service-2:checked~.service-list .service-item:nth-child(2) {
  display: block;
}

#service-3:checked~.service-list .service-item:nth-child(3) {
  display: block;
}

#service-1:checked~.service-controls .service-controls-item-1,
#service-2:checked~.service-controls .service-controls-item-2,
#service-3:checked~.service-controls .service-controls-item-3 {
  width: 277px;
  padding-right: 127px;
  color: #f7e184;
  background-color: #000000;
}

#service-1:checked~.service-controls .service-controls-item-1::before,
#service-2:checked~.service-controls .service-controls-item-2::before,
#service-3:checked~.service-controls .service-controls-item-3::before {
  top: 0;
  height: 100%;
  background-color: #000000;
}

#service-1:focus~.service-controls .service-controls-item-1,
#service-2:focus~.service-controls .service-controls-item-2,
#service-3:focus~.service-controls .service-controls-item-3 {
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.service-list {
  width: 760px;
  margin: 0;
  margin-top: -47px;
  padding: 0;
  list-style: none;
}

.service-item:nth-child(1) {
  background-image: url("../img/services-1-delivery.png");
  background-repeat: no-repeat;
  background-position: 558px 32px;
}

.service-item:nth-child(2) {
  background-image: url("../img/services-2-warranty.png");
  background-repeat: no-repeat;
  background-position: 543px 8px;
}

.service-item:nth-child(3) {
  background-image: url("../img/services-3-credit.png");
  background-repeat: no-repeat;
  background-position: 534px 8px;
}

.service-item h3 {
  margin: 0;
  margin-bottom: 31px;
  margin-left: 1px;
  padding: 0;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.service-item p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}

.brands {
  margin-bottom: 93px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  /* margin-right: -40px; */
  padding: 0;
  list-style: none;
}

.brands-item {
  margin-right: 40px;
}

.brands-item:nth-child(4n) {
  margin-right: 0;
}

.brands-item:nth-child(3) {
  margin-right: 37px;
}

.brand {
  position: relative;
  display: block;
  width: 260px;
  height: 100px;
}

.brand img:nth-last-of-type(1),
.brand img:nth-last-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  transition-duration: 300ms;
}

.brands-item img:nth-of-type(1) {
  opacity: 0;
}

.brand:hover img:nth-of-type(1),
.brand:focus img:nth-of-type(1) {
  opacity: 1;
}

.brand:hover img:nth-of-type(2),
.brand:focus img:nth-of-type(2) {
  opacity: 0;
}

.index-columns {
  display: flex;
  margin-bottom: 82px;
}

.company {
  position: relative;
  width: 500px;
  margin-right: 100px;
  padding-top: 52px;
}

.company::before {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.company h2 {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 43px;
  padding: 0;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.company p {
  margin: 0;
  margin-left: -1px;
  margin-bottom: 30px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}

.company p:last-of-type {
  margin-bottom: 74px;
}

.company-list {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  padding-left: 35px;
  font-size: 16px;
  letter-spacing: 0.01em;
  list-style: none;
}

.company-item {
  position: relative;
  margin-bottom: 16px;
}

.company-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -34px;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.company .button {
  width: 260px;
}

.contacts {
  position: relative;
  width: 560px;
  padding-top: 52px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts h2 {
  margin: 0;
  margin-left: -3px;
  margin-bottom: 43px;
  padding: 0;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.contacts p {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 39px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}

.contacts-map {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 69px;
  background-color: #eaeaea;
}

.contacts-map img {
  display: block;
}

.contacts-link {
  width: 260px;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 66px;
  background-color: #464646;
}

.footer-top {
  display: flex;
  margin-bottom: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer-logo {
  width: 260px;
}

.footer-logo a {
  margin-left: -3px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.015em;
  font-weight: 800;
  color: #ffc600;
  text-transform: uppercase;
}

.footer-logo a[href]:hover,
.footer-logo a[href]:focus {
  opacity: 0.6;
}

.footer-logo a[href]:active {
  opacity: 0.3;
}

.footer-top-right {
  display: flex;
  justify-content: flex-end;
  width: 900px;
}

.footer-user-navigation,
.footer-customer-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-customer-navigation {
  margin-right: -1px;
}

.footer-customer-navigation-item:last-child svg {
  margin-right: 7px;
}

.footer-customer-navigation-item:first-child {
  margin-right: 40px;
}

.footer-customer-navigation-item:first-child svg {
  margin-right: 6px;
}

.footer-user-navigation-item:last-child {
  margin-right: 43px;
}

.footer-user-navigation-item svg {
  margin-right: 9px;
}

.inner-page .footer-user-navigation-item:first-child {
  margin-right: 19px;
}

.inner-page .footer-user-exit {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.footer-customer-navigation a:hover,
.footer-customer-navigation a:focus {
  color: rgb(255, 255, 255);
}

.footer-user-navigation a:active,
.footer-customer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation path,
.footer-customer-navigation path {
  fill: rgb(255, 198, 0);
  transition-duration: 150ms;
}

.footer-user-navigation-link:hover path,
.footer-user-navigation-link:focus path,
.footer-customer-navigation-link:hover path,
.footer-customer-navigation-link:focus path {
  fill: rgba(255, 198, 0, 0.6);
}

.footer-user-navigation-link:active path,
.footer-customer-navigation-link:active path {
  fill: rgba(255, 198, 0, 0.3);
}

.footer-middle {
  display: flex;
  margin-bottom: 60px;
}

.footer-middle p {
  width: 360px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0em;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.footer-middle p:first-of-type {
  margin-left: -1px;
}

.footer-middle p:last-of-type {
  text-align: right;
}

.footer-middle-tel {
  margin-right: -1px;
}

.footer-site-menu {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-site-menu li {
  padding-top: 9px;
}

.footer-site-menu li:nth-child(3n+1) {
  margin-left: 8px;
  margin-right: 34px;
}

.footer-site-menu li:nth-child(3n-1) {
  margin-right: 32px;
}

.footer-site-menu a:hover,
.footer-site-menu a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  position: relative;
  display: flex;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social-buttons {
  display: flex;
  width: 160px;
  margin: 0;
  margin-left: 500px;
  padding: 0;
  padding-left: 9px;
  padding-top: 1px;
  list-style: none;
}

.social-btn {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-btn-facebook {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-btn-instagram {
  margin-left: 23px;
  margin-right: 22px;
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-btn-twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-btn:hover,
.social-btn:focus {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.copyright {
  display: block;
  width: 27px;
  height: 35px;
  margin-left: auto;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright:hover,
.copyright:focus {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  left: 50%;
  bottom: 50%;
  display: none;
  box-sizing: border-box;
  width: 960px;
  margin-left: -480px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  z-index: 1000;
}

.inner-modal .modal {
  display: block;
}

.modal-letter {
  margin-bottom: -275px;
  padding: 93px 100px 78px;
  background-color: #ffffff;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.letter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.letter-item {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 0;
  padding: 0;
}

.letter-item:nth-child(1) {
  margin-right: 40px;
}

.letter-item:nth-child(3) {
  width: 760px;
  margin-top: 33px;
  margin-bottom: 41px;
}

.letter-item label {
  margin-bottom: 7px;
  letter-spacing: 0em;
  letter-spacing: 0.01em;
}

.letter-item:nth-child(2) label {
  margin-left: -1px;
}

.letter-item:nth-child(3) label {
  margin-left: 1px;
}

.letter-item input,
.letter-item textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 20px 17px 20px;
  border: none;
  outline: none;
  color: rgb(70, 70, 70);
  background-color: rgba(230, 230, 230, 0.5);
  transition-duration: 150ms;
}

.letter-item textarea {
  padding: 15px 20px 101px 20px;
  resize: none;
}

.letter-item input::placeholder,
.letter-item textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(70, 70, 70, 0.4);
}

.letter-item input:hover,
.letter-item textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.letter-item input:focus,
.letter-item textarea:focus {
  box-shadow: inset 0 0 0 3px rgba(240, 197, 46, 0.5);
  background-color: rgb(255, 255, 255);
}

.letter-item input:invalid {
  color: #e74246;
  background-color: rgba(237, 181, 181, 0.5);
}

.letter-form .button {
  width: 200px;
  font: inherit;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 3;
  width: 55px;
  height: 55px;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  background-image: url("../img/modal-close.svg");
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 150ms;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.inner-modal .modal-close {
  display: none;
}

.modal-map {
  height: 559px;
  margin-bottom: -280px;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 960px;
  height: 559px;
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  width: 960px;
  height: 559px;
  border: none;
  border-style: none;
}

.page-title {
  margin: 0 0 24px 59px;
  padding: 0;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.015em;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 46px 59px;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li {
  position: relative;
  padding-right: 37px;
}

.breadcrumbs li:nth-child(2) {
  padding-right: 38px;
}

.breadcrumbs li:nth-child(1)::after,
.breadcrumbs li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 18px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:nth-child(2)::after {
  right: 16px;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.category-top {
  background: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%);
}

.category-bottom {
  background: linear-gradient(to right, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
}

.category-top .container,
.category-bottom .container {
  display: flex;
}

.category-left {
  width: 328px;
}

.category-right {
  width: 832px;
}

.category-top .category-right {
  background: #ebebeb;
}

.category-bottom .category-right {
  background: #ffffff;
}

.filter-title {
  margin: 23px 0 23px 61px;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}

.sorting {
  display: flex;
}

.sorting ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting h3 {
  margin: 23px 50px 23px 72px;
  font-size: 16px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}

.sorting-list {
  width: 500px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item:nth-child(3n+1) {
  margin-right: 29px;
}

.sorting-item:nth-child(3n-1) {
  margin-right: 30px;
}

.sorting-item:nth-child(3n) {
  margin-right: 30px;
}

.sorting-item {
  padding-bottom: 2px;
}

.sorting-item a[href]:hover,
.sorting-item a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item a[href]:active {
  color: rgb(0, 0, 0);
}

.sorting-current {
  color: rgb(0, 0, 0);
}

.arrow-item {
  position: relative;
}

.arrow-item:nth-child(1) {
  margin: 0 30px 0 19px;
}

.arrows-list a {
  position: absolute;
  top: -5px;
  left: 0px;
  width: 11px;
  height: 10px;
  opacity: 0.2
}

.arrow-up a {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.arrow-down a {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.arrows-list a[href]:hover,
.arrows-list a[href]:focus {
  opacity: 0.4;
}

.arrows-list a[href]:active {
  opacity: 1;
}

.arrow-current a {
  opacity: 1;
}

.filter {
  padding: 69px 0 0 59px;
}

.filter-item legend {
  padding-top: 12px;
}

.filter-item {
  position: relative;
  margin: 0 0 33px 0;
  padding: 35px 0 0 0;
  border: none;
}

.filter-item:nth-child(2),
.filter-item:nth-child(3) {
  margin-bottom: 31px;
  padding-top: 18px;
}

.filter-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 201px;
  height: 2px;
  background-color: #000000;
}

.range-controls {
  position: relative;
  margin-bottom: 8px;
}

.range-controls .scale {
  width: 201px;
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 110px;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: -5px;
}

.range-controls .toggle-max {
  left: 108px;
}

.range-controls .toggle:active {
  top: -11px;
  width: 22px;
  height: 24px;
  background-size: 100%;
}

.range-controls .toggle-min:active {
  left: -6px;
}

.range-controls .toggle-max:active {
  left: 107px;
}

.price-controls {
  display: flex;
}

.price-controls label {
  font-size: 14px;
  letter-spacing: 0em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
  width: 70px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #eeeeee;
}

.filter-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option label {
  position: relative;
  padding-left: 39px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
  font-weight: 300;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:checked+label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-radio+label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition-duration: 150ms;
}

.filter-radio:checked+label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-checkbox:hover+label::before,
.filter-checkbox:focus+label::before,
.filter-radio:hover+label::before,
.filter-radio:focus+label::before {
  opacity: 0.6;
}

.filter-checkbox:active+label::before,
.filter-radio:active+label::before {
  opacity: 1;
}

.filter-checkbox:disabled+label::before,
.filter-checkbox:disabled+label,
.filter-radio:disabled+label::before,
.filter-radio:disabled+label {
  opacity: 0.25;
  cursor: default;
}

.filter-button {
  width: 200px;
  margin-left: -1px;
  font: inherit;
}

.products {
  padding: 69px 0 0 72px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 34px 0;
  padding: 0;
  list-style: none;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 45px;
}

.product-item:nth-last-child(1),
.product-item:nth-last-child(2) {
  margin-bottom: 0;
}

.product {
  position: relative;
  min-height: 380px;
  margin: 0 0 31px 0;
  background-color: #efefef;
}

.product-img {
  position: relative;
  margin: 0;
  padding: 0;
  transition: opacity 200ms;
}

.product-img img {
  display: block;
}

.product-add {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-duration: 300ms;
}

.product-add .button {
  width: 200px;
  margin-top: 174px;
  margin-bottom: 7px;
  font-weight: 800;
  transition-duration: 150ms;
}

.product-add .button,
.product-add .button-add {
  opacity: 0;
}

.product-add .button:focus,
.product-add .button-add:focus {
  opacity: 1;
}

.product-add .button-add {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 150ms;
}

.product-add .button-add:hover,
.product-add .button-add:focus {
  color: rgb(0, 0, 0);
}

.product-add .button-add:active {
  color: rgba(0, 0, 0, 0.2);
}

.product:hover .button,
.product:hover .button-add {
  opacity: 1;
}

.product:hover .product-add {
  background-color: rgba(238, 238, 238, 0.7);
}

.product-name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-name h3 {
  width: 280px;
  margin: 0 0 0 -1px;
  padding: 0;
}

.product-name a {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.product-name span {
  padding-top: 2px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 300;
}

.new::before {
  content: "New";
  position: absolute;
  top: 29px;
  right: 27px;
  display: block;
  padding: 16px 0 0px 13px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.pagination {
  display: flex;
  margin: 0 0 77px 0;
  background-color: #ebebeb;
}

.pagination-item-back,
.pagination-item-next {
  display: flex;
}

.pagination-item-back a {
  padding: 24px 28px 22px 29px;
}

.pagination-item-next a {
  padding: 24px 29px 22px 31px;
}

.pagination-item-back a:hover,
.pagination-item-next a:hover,
.pagination-item-back a:focus,
.pagination-item-next a:focus {
  background-color: #d9d9d9;
}

.pagination-item-back a:active,
.pagination-item-next a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 auto 0 198px;
  list-style: none;
}

.pagination a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-item a {
  display: flex;
  padding: 25px 14px 21px 14px;
}

.pagination-item a[href] {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a[href]:active {
  color: rgba(0, 0, 0, 1);
}
